body {
  background-color: #050e1b;
  color: white;
  overflow-x: hidden;
  font-family: 'Rubik', sans-serif;
}
html,
body {
  height: 100%;
}
.navbar {
  color: #e6b572;
  position: fixed;
  width: 100%;
  z-index: 99;
  font-weight: bold;
  padding: 0.8vh 1vw;
  top: 0;
  background-color: rgba(5, 14, 27, 0.5);
  font-size: 1.2rem;
  z-index: 9999;
  height: 6rem;
}
.showing{
  background-color: rgba(5, 14, 27, .9);
  padding: 0 1vw;
}
.showingToo{
  padding: 0;
  background-color: rgba(5, 14, 27, 0.9);
}
.spin{
  transform: rotate(90deg);
}
.navbar-toggler{
  width: 4rem;
  transition: transform 350ms;

}
.nav-link:hover {
  color: #fff;
}
.logo {
  width: 5rem;
}

#turismo {
  filter: brightness(255);
}

#logoFriburgo {
  width: 4rem;
}

.navbar a {
  color: inherit;
  margin-right: 1.5rem;
}
canvas {
  display: block;
  position: absolute;
  z-index: 9;
  width: 100%;
}
.album {
  background-color: #050e1d;
}
.hero {
  position: relative;
  width: 100%;
  padding-top: 6rem;
}

.button {
  padding: 0.6rem 1.3rem;
  font-size: 1.5rem;
  font-weight: 700;
  border-radius: 6px;
  color: #cf9c60;
  border: 2px solid #cf9c60;
  background-position:left bottom;
  background: linear-gradient(to left, rgba(0,0,0,0), #cf9c60 50%) right;
  background-size: 300%;
  transition: .5s ease-out;
}

.button:hover {
  color: #fff;
  background-position: left;
}

.banner {
  width: 100%;
  height: 80vh;
}

.absoluteCenter {
  position: absolute;
  top: 100%;
  right: 50%;
  transform: translate(50%, -50%);
  z-index: 99;
  display: flex;
  gap: 2rem;
}

.quotes {
  padding: 2vw;
}
.text-block {
  max-width: 50em;
  margin: 10rem auto;
  text-align: justify;
  padding: 0 1rem;
  font-size: 1.2rem;
}

.slider-container {
  padding: 2rem 3rem;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.my-slider {
  display: flex;
  position: relative;
}

.slider-item {
  border-right: 2px solid #bba81e;
  position: relative;
}

.controls {
  margin: 0;
  padding: 0;
  list-style: none;
  position: absolute;
  z-index: 1;
  left: 0;
  width: 100%;
  top: 50%;
  transform: translatey(-50%);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.controls li {
  color: white;
  font-size: 2.5rem;
  font-weight: 900;
  margin: 0 0.5rem;
}
.controls {
  z-index: 99;
}

.controls li:hover {
  cursor: pointer;
}

.tns-liveregion {
  display: none;
}
.card-carousel {
  text-align: center;
  margin: 0 auto;
  max-width: 25vw;
  color: #fff;
  border-radius: 5px;
  font-family: sans-serif;
  overflow: hidden;
  box-shadow: 2px 2px rgba(black, 0.2);
  position: relative;
}

.card-carousel img {
  margin-bottom: 1rem;
}

.slide-item {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
}

.active-slide {
  transition: opacity 450ms;
  opacity: 1;
}

.slide-to-left {
  transition: opacity 450ms;
  opacity: 0;
}

.slide-to-right {
  transition: opacity 450ms;
  opacity: 0;
}

.slideShow {
  position: relative;
  width: 100%;
  height: 80vh;
  max-width: 100em;
  margin: 0 auto;
}

.slideShow .controls button {
  color: white;
  width: 5rem;
  border: none;
  margin: 0 1rem;
}

#backButton {
  transform: rotate(-180deg);
}

.slide-item img {
  width: 100%;
  height: 100%;
}
#eventos{
  z-index: 999;
}

.sobre {
  max-width: 80em;
  margin: 10rem auto 0;

  padding: 2rem;
}

.sobre section {
  display: grid;
  grid-template-rows: repeat(2);
  row-gap: 5vh;
}
.sobre section .text-area {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 3vw;
}

.akaBackground {
  width: 100%;
  height: 100%;
}

.sobre p {
  width: 100%;
  font-size: 1.2rem;
}
footer {
  margin: auto auto 0;
  z-index: 9;
}
li .a-footer {
  color: darkgrey;
  transition: 150ms;
}
li .a-footer:hover {
  color: #fff;
}
.parceiros {
  margin-bottom: 2rem;
}
.parceiros-box-int {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.parceiros-box-int img {
  width: 12rem;
}
.box-pat {
  margin: 2vw;
  padding: 1rem;
  display: flex;
  align-items: center
}

.title-papaiNoel {
  position: absolute;
  top: -50%;
  right: 50%;
  transform: translate(calc(50% + 5rem), -50%);
  z-index: 99;
  transition: all 750ms ease-out;
  font-size: 5rem;
  font-weight: bolder;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.NOW{
  top: 50%;
}
.footer-inf{
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.info-container{
  display: flex;
  flex-direction: column;
}
.info-links-1{
  margin-top: 0.5rem;
}
.info-links-2{
  margin-top: 1.6rem;
}
/*casa do papai noel*/

.texto p{
  text-align: justify;
  margin: 0;
  font-size: 1.7rem;
  font-weight: 300;
}
.texto h3{
  margin-bottom: 3rem;
}
.texto{
  margin: 0 auto;
  max-width: 60em;
  padding: 1rem;

}

.direcoes{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.googleMaps{
  width: 800px;
  height: 500px;
  background-color: white;
}

.icones section img{
  width: 2rem;
  filter:  brightness(0) invert(1);
}
.icones section span{
  font-size: 1.3rem;
}
.icones section{
  display: flex;
  align-items: center;
  gap: 1rem;
}
.icones{
 
  margin: 2rem 0;
  padding: 3rem;
}
.icones div{
  display: flex;
  width: 100%;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
  border: 2px solid white;
  padding: 1rem;

}
#dolar-dolar img{
  width: 3rem;
}
#banner-casa{
  width: 100vw;
  height: 85vh;
  position: relative;
  background-attachment: fixed;
  background-image:  url("/static/imgs/01012012-DSCN0060.jpg"); 
  background-size: cover;
  background-repeat: no-repeat;
}
.natal-hero{
  margin-bottom: 20rem;

}
.feed{
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%,50%);
  display: flex;
  width: 100%;
  justify-content: center;

}
.feed img{
  border: 1rem solid #050e1b;
  width: 25.6vw;
  height: 60vh;
}
#natal-titulo svg g{
  background-color: red;
  
}

/* 1360 */
@media (max-width: 85em) {

}

/* 1200 */
@media(max-width: 75em) {


}


/* 985 */
@media (max-width: 61em) {
  .box-pat{
    width: 10rem ;
  }
  .box-pat-ext{
    width: 50rem;
  }
  .quotes{
    flex-direction: column;
  }
  .quotes > .col{
    width: 25rem;
    margin: 0.5rem auto;
    padding: 0 2rem;
  }
  .footer-inf{
    flex-direction: column;
    align-items: center;
    justify-content: normal;
  }
  .info-container{
    align-items: center;
    margin-bottom: 2rem;
  }
}

/* 704 */
@media (max-width: 48em) {
  .box-pat{
    width: 7rem ;
  }
  }


/* 544 */
@media (max-width: 34em) {
  .slideShow {
    width: 100%;
    height: 50vh;
  }
}
