{% extends "natal/template.html" %}
{% block JSTemplate %}

<script
src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"
defer
></script>

<script src="/static/js/scripts.js" defer></script>
<script src="/static/js/neve.js" defer></script>
<script src="/static/js/carousel.js" defer></script>
<script src="/static/js/navbar.js" defer></script>


{% endblock %}

{% block main %}

<main>
    <canvas class="neve"></canvas> 

  <div class="hero">    
    <div class="w-100 d-flex pt-3">
      <img class="banner m-auto" src="/static/imgs/NATAL2022LOGO.png" alt="logo natal nova friburgo nova-friburgo 2022 um encanto de natal o espetaculo"/>      
    </div>
  </div>

  <div class="text-block d-flex flex-column">
    <p style="text-indent: 40px;">O Natal é mágico e envolvente! Esta afirmativa vai muito além da história mundial e das estórias míticas cotidianas. O imaginário poético envolve toda a comunidade e está recheado de sentimentos envolventes... com certeza você tem uma lembrança de Natal guardada em sua memória emotiva, que compõe sonhos com sua família ou amigos!</p>      
    <p style="text-indent: 40px;">Após o sucesso de 2021, a Prefeitura de Nova Friburgo, através das secretarias de Turismo e de Cultura, convida a todos para aproveitar mais Um Encanto de Natal, desta vez com o tema: O Espetáculo, de 26 de novembro de 2022 a 23 de dezembro de 2022, por toda nossa cidade.</p>
    <p style="text-indent: 40px;">Viva a magia de um Natal colorido e iluminado com shows, decoração, teatro, dança e música em Nova Friburgo!</p>    
    <a type="button" href="#" class="mt-5 button secondary mx-auto" style="z-index: 100; margin-top: -10px;" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
      Programação
    </a>
  </div>

  <div class="slideShow" id="galeria">
    <div class="controls">
      <button id="backButton"><img src="/static/imgs/arrrow.svg"/></button>
      <button id="nextButton"><img src="/static/imgs/arrrow.svg"/></button>
    </div>
    
    {% for galeria_image in galeria_images %}
      <div class="slide-item active-slide"><img src="{{galeria_image.image.url}}" alt="galeria natal nova friburgo nova-friburgo 2022"></div>
    {% endfor %}

  </div>

  <div class="py-5">
    <div class="row quotes">
      {% for testemonio in testemonios %}

      <div class="col testemonio">
        <figure>
          <blockquote class="blockquote">
            <p>{{testemonio.comentario}}</p>
          </blockquote>
          <figcaption class="blockquote-footer">
            <cite title="Source Title">{{testemonio.autor}}</cite>
          </figcaption>
        </figure>
      </div>

      {% endfor %}

    </div>
  </div>
  <div style="width: 80%; margin: auto;">
    <h2>Eventos</h2>
  </div>
  <div class="slider-container" id="eventos">
    
    <ul
      class="controls"
      id="customize-controls"
      aria-label="Carousel Navigation"
      tabindex="0"
    >
      <li
        class="prev"
        data-controls="prev"
        aria-controls="customize"
        tabindex="-1"
      >
        <span>&lt</span>
      </li>
      <li
        class="next"
        data-controls="next"
        aria-controls="customize"
        tabindex="-1"
      >
        <span>&gt</span>
      </li>
    </ul>
    <div class="my-slider">
      {% for evento in eventos %}

      <div class="slider-item">
        <div class="card-carousel">
          <img src="{{evento.banner.url}}" alt="eventos natal nova friburgo nova-friburgo 2022" />
          <h3>{{evento.titulo}}</h3>
          <h4>{{evento.data}}</h4>
          <p>{{evento.descricao}}</p>
        </div>

      </div>

      {% endfor %}

    </div>
  </div>
</main>

  <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-xl">
      <div class="modal-content bg-prog-titulo">
        <div class="modal-header border-0 bg-prog-titulo2">          
          Programação do Natal 2022
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body text-dark text-center">          
          <div class="accordion" id="accordionExample">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed bg-prog bg-gradient text-white fw-bolder" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                  26 de Novembro
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse border-0" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                <div class="accordion-body border-0">
                  <div class="progIndex border-0">
                    <div class="progHora"><b>Hora</b></div> 
                    <div class="progLocal col"><b>Local</b></div>
                    <div class="progNome col"><b>Nome</b></div>
                  </div>
                  <div class="progItem">
                    <div class="progHora bg-gradient"><span>18h30</span></div> 
                    <div class="progLocal col bg-gradient"><span>Local: Prefeitura.</span></div>
                    <div class="progNome col bg-gradient"><b>Célebres Canções Natalinas com Coro Acrópolis</b></div>
                  </div>
                  <div class="progItem">
                    <div class="progHora bg-gradient"><span>19h00</span></div> 
                    <div class="progLocal col bg-gradient"><span>Local: Prefeitura.</span></div>
                    <div class="progNome col bg-gradient"><b>Acender das Luzes</b></div>
                  </div>                  
                </div>
              </div>
            </div>                      
          </div>
          
        </div>
        <div class="modal-footer border-0">
          
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  .progIndex{
    display: flex;
    flex-direction: row;
    text-align: start;
  }
  .progIndex .progHora{
    width: 75px
  }
  .progIndex .progLocal{
    padding-left: 10px;
  }
  .progIndex .progNome{
    padding-left: 10px;
  }
  .progItem .progHora{
    background-color: #034A8E;
    width: 75px;
    height: 75px;
    margin-top: 5px;   
    color: white; 
  }
  .progItem .progLocal{
    background-color: #034A8E;
    height: 75px;
    margin: 5px 10px;
    color: white; 
  }
  .progItem .progNome{
    background-color: #034A8E;
    height: 75px;
    margin-top: 5px;
    color: white; 
  }
  .accordion-body .progItem, .accordion-body .progItem div{
    display: flex;
    flex-direction: row;
    text-align: center;
  }
  .accordion-body .progItem span, .accordion-body .progItem b{
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    text-align: center;
  }
  .bg-prog-titulo{
    background-color: #ffffff;    
  }
  .bg-prog-titulo2{
    background-color: #B0874C;
  }
  .bg-prog{
    background-color: #B0874C;
  }
  .accordion-button:not(.collapsed){
    background-color: #B0874C !important;
  }
  .accordion-button::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
  }
  .accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23ffffff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
  }
  .accordion-body{
    background-color: #ffffff; 
  }
</style>
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-Q4W62Z5YEG"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-Q4W62Z5YEG');
</script>
{% endblock %}