{% extends "natal/template.html" %}
{% block JSTemplate %}

<script
src="https://cdnjs.cloudflare.com/ajax/libs/tiny-slider/2.9.4/min/tiny-slider.js"
defer
></script>
<script src="/static/js/scripts.js" defer></script>
<script src="/static/js/neve.js" defer></script>
<script src="/static/js/carousel.js" defer></script>
<script src="/static/js/navbar.js" defer></script>


{% endblock %}

{% block main %}

<main>
    <!-- <canvas class="neve"></canvas> !-->

  <div class="hero">
    <img class="banner" src="/static/imgs/banner2.png" />
    <div class="absoluteCenter">
        <a type="button" href="#eventos" class="button primary">
          Eventos
        </a>
        <a type="button" href="#" class="button secondary">
          Programação
        </a>
      </div>
  </div>

  <div class="text-block">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptate
      consectetur facere dolorem in, eum culpa optio sapiente. Voluptatem
      quidem assumenda vel eveniet, pariatur aliquam! Vero, id. Provident,
      distinctio id. Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Facilis eaque, officiis, voluptate eum eius consequatur commodi
      sint excepturi et nihil possimus, doloremque quas voluptates? Minima
      illo quis facilis maxime corrupti? Lorem ipsum dolor sit, amet
      consectetur adipisicing elit. Voluptatibus ducimus neque praesentium
      recusandae error laboriosam, officiis debitis minus ullam sapiente cum
      omnis repellat, sed earum odit dolor quisquam tempora eum? Lorem ipsum
      dolor sit amet consectetur adipisicing elit. Veniam, soluta earum.
      Dolor, fugiat. Corporis maxime esse animi quam sunt, nobis impedit
      recusandae, ipsum sint ea, modi quasi labore nihil voluptatum.
    </p>
  </div>

  <div class="slideShow" id="galeria">
    <div class="controls">
      <button id="backButton"><img src="/static/imgs/arrrow.svg"/></button>
      <button id="nextButton"><img src="/static/imgs/arrrow.svg"/></button>
    </div>
    <div class="slide-item slide-to-right"><img src="/static/imgs/02122021-DSC_0080.jpg"></div>
    <div class="slide-item slide-to-right"><img src="/static/imgs/11122021-DSC_0036.jpg" /></div>
    <div class="slide-item active-slide"><img src="/static/imgs/02122021-DSC_0055.jpg" /></div>
    <div class="slide-item slide-to-right"><img src="/static/imgs/16122021-DSC_0041.jpg" /></div>
    <div class="slide-item slide-to-right"><img src="/static/imgs/01012012-DSCN0060.jpg" /></div>
  </div>

  <div class="py-5">
    <div class="row quotes">
      <div class="col">
        <figure>
          <blockquote class="blockquote">
            <p>
              A well-known quote, contained in a blockquote element. Lorem,
              ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, eius? Esse, error hic?
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure>
          <blockquote class="blockquote">
            <p>
              A well-known quote, contained in a blockquote element. Lorem,
              ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, eius? Esse, error hic?
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
      </div>
      <div class="col">
        <figure>
          <blockquote class="blockquote">
            <p>
              A well-known quote, contained in a blockquote element. Lorem,
              ipsum dolor sit amet consectetur adipisicing elit.
              Repudiandae, eius? Esse, error hic?
            </p>
          </blockquote>
          <figcaption class="blockquote-footer">
            Someone famous in <cite title="Source Title">Source Title</cite>
          </figcaption>
        </figure>
      </div>
    </div>
  </div>

  <div class="slider-container" id="eventos">
    <h2>Eventos</h2>
    <ul
      class="controls"
      id="customize-controls"
      aria-label="Carousel Navigation"
      tabindex="0"
    >
      <li
        class="prev"
        data-controls="prev"
        aria-controls="customize"
        tabindex="-1"
      >
        <span>&lt</span>
      </li>
      <li
        class="next"
        data-controls="next"
        aria-controls="customize"
        tabindex="-1"
      >
        <span>&gt</span>
      </li>
    </ul>
    <div class="my-slider">
      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/02122021-DSC_0055.jpg" alt="" />
          <h3>Title 1</h3>
        </div>
      </div>

      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/01012012-DSCN0060.jpg" alt="" />
          <h3>Title 2</h3>
        </div>
      </div>

      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/02122021-DSC_0003.jpg" alt="" />
          <h3>Title 3</h3>
        </div>
      </div>
      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/02122021-DSC_0034.jpg" alt="" />
          <h3>Title 4</h3>
        </div>
      </div>
      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/02122021-DSC_0080.jpg" alt="" />
          <h3>Title 5</h3>
        </div>
      </div>
      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/16122021-DSC_0041.jpg" alt="" />
          <h3>Title 6</h3>
        </div>
      </div>
      <div class="slider-item">
        <div class="card-carousel">
          <img src="/static/imgs/01012012-DSCN0060.jpg" alt="" />
          <h3>Title 7</h3>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock %}