{% extends "natal/template.html" %} {% block main %}
<canvas class="neve"></canvas>

<main class="sobre">
  <h1 class="display-1">Nova Firburgo</h1>

  <section class="mt-5">
    <div class="text-area">
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptate
          consectetur facere dolorem in, eum culpa optio sapiente. Voluptatem
          quidem assumenda vel eveniet, pariatur aliquam! Vero, id. Provident,
          distinctio id. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Facilis eaque, officiis, voluptate eum eius consequatur commodi
          sint excepturi et nihil possimus, doloremque quas voluptates? Minima
          illo quis facilis maxime corrupti? Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatibus ducimus neque praesentium
          recusandae error laboriosam, officiis debitis minus ullam sapiente cum
          omnis repellat, sed earum odit dolor quisquam tempora eum? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Veniam, soluta earum.
          Dolor, fugiat. Corporis maxime esse animi quam sunt, nobis impedit
          recusandae, ipsum sint ea, modi quasi labore nihil voluptatum.
        </p>
      </div>
      <img src="/static/imgs/haha.jpg" class="akaBackground" />
    </div>

    <div class="text-area">
        <img
        src="/static/imgs/thumb_507x340_cao-sentado-foto-joao-luccas-oliveira-17.jpg"
        class="akaBackground"
      />
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut voluptate
          consectetur facere dolorem in, eum culpa optio sapiente. Voluptatem
          quidem assumenda vel eveniet, pariatur aliquam! Vero, id. Provident,
          distinctio id. Lorem ipsum dolor sit amet consectetur adipisicing
          elit. Facilis eaque, officiis, voluptate eum eius consequatur commodi
          sint excepturi et nihil possimus, doloremque quas voluptates? Minima
          illo quis facilis maxime corrupti? Lorem ipsum dolor sit, amet
          consectetur adipisicing elit. Voluptatibus ducimus neque praesentium
          recusandae error laboriosam, officiis debitis minus ullam sapiente cum
          omnis repellat, sed earum odit dolor quisquam tempora eum? Lorem ipsum
          dolor sit amet consectetur adipisicing elit. Veniam, soluta earum.
          Dolor, fugiat. Corporis maxime esse animi quam sunt, nobis impedit
          recusandae, ipsum sint ea, modi quasi labore nihil voluptatum.
        </p>
       
      </div>

    </div>
  </section>
</main>

{% endblock %}
