{% extends "natal/template.html" %} {% block main %}
<canvas class="neve"></canvas>

<main class="sobre">
  <h1>Sobre Nova Firburgo</h1>

  <section>
    <div class="text-area">
      <div>
        <p>
          No próximo Natal, para nós friburguenses e para todo mundo, será
          diferente! A saudade se encontrará com a alegria, numa partilha de
          emoções! Neste ano, as luzes se acenderão para iluminar um caminho
          para um novo futuro, um novo tempo. Vão ecoar pela cidade, vozes em um
          novo tom! Convidamos você, para juntos renovarmos as esperanças e
          sonharmos, com brilho no olhar, por um novo amanhã. O espetáculo já
          começou, as portas se abrem, somos convidados a fazer parte da magia
          que inspira os nossos corações. Brindamos, celebramos com imensa
          gratidão, porque juntos, nós vencemos. Nova Friburgo apresenta: Um
          encanto de Natal!
        </p>
      </div>
      <img src="/static/imgs/haha.jpg" class="akaBackground" />
    </div>

    <div class="text-area">
        <img
        src="/static/imgs/thumb_507x340_cao-sentado-foto-joao-luccas-oliveira-17.jpg"
        class="akaBackground"
      />
      <div>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure maiores
          minima architecto, perspiciatis veniam neque porro rem incidunt modi
          cumque earum minus et optio exercitationem molestiae dolores
          recusandae amet alias.
        </p>

        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure maiores
          minima architecto, perspiciatis veniam neque porro rem incidunt modi
          cumque earum minus et optio exercitationem molestiae dolores
          recusandae amet alias.
        </p>

        <p>
          No próximo Natal, para nós friburguenses e para todo mundo, será
          diferente! A saudade se encontrará com a alegria, numa partilha de
          emoções! Neste ano, as luzes se acenderão para iluminar um caminho
          para um novo futuro, um novo tempo. Vão ecoar pela cidade, vozes em um
          novo tom! Convidamos você, para juntos renovarmos as esperanças e
          sonharmos, com brilho no olhar, por um novo amanhã. O espetáculo já
          começou, as portas se abrem, somos convidados a fazer parte da magia
          que inspira os nossos corações. Brindamos, celebramos com imensa
          gratidão, porque juntos, nós vencemos. Nova Friburgo apresenta: Um
          encanto de Natal!
        </p>
      </div>

    </div>
  </section>
</main>

{% endblock %}
