<!DOCTYPE html>
<html lang="pt-br">

<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnaval 2022 - Nova Friburgo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="container-fluid">
    <div class="row h-100 mx-0">
        <header class="row">
            <div class="col d-flex">
                <div class="navbar">
                    <img class="logo-carnaval" src="{% static 'img/logo-carnaval.png' %}" alt="">
                    <div class="nav">
                        <a href="/">Início</a>
                        <a onclick="linkTo('#programacao2')">Programação</a>
                        <a onclick="linkTo('#conheca')">Conheça</a>
                        <a href="/agremiacao">Agremiações</a>
                        <a href="/eventos">Eventos</a>
                        <a href="/concursos">Concursos</a>
                        <a onclick="linkTo('#contato')">Contato</a>
                    </div>
                </div>
            </div>
        </header>
        <section id="banner" class="row">
            <div class="col flex-column">
                <img style="width: 1156px; height: 352px;" id="img-banner" src="/static/img/banner.png" alt="">
            </div>
        </section>
    </div>
    <h1 class="text-center my-5 pb-3">
        {{info.titulo01}}
    </h1>
    <div class="row">
        <div class="col">
            <section id="imagens">
                <div class="row">
                    <div class="col">
                        <img style="height: 386px; width: 566px;" class="rounded" src="{% static 'img/carnaval1.jpg' %}"
                            alt="image carnaval">
                    </div>
                    <div class="col">
                        <img style="height: 386px; width: 566px;" class="rounded" src="{% static 'img/carnaval2.jpg' %}"
                            alt="image carnaval">
                    </div>
                </div>

            </section>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col d-flex">
            <section id="texto">
                <div class="row">
                    <div class="col d-flex flex-column">
                        <div class="m-auto">
                            <h4>{{info.titulo02}}</h4>
                            <p style="font-weight: bold;">
                                {{info.texto02}}
                            </p>

                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <h1 id="programacao2" class="text-center my-5">
        FALTAM <span class="destaque">{{dias}} DIAS</span> PARA O NOSSO CARNAVAL
    </h1>
    <div id="conheca" class="row mt-5">
        <div class="col d-flex">
            <section style="width: 1156px; margin: auto;">
                <h1>CONHEÇA NOSSO CARNAVAL</h1>
                <div class="row">
                    <div class="col">
                        <a href="/fotos">
                            <img style="height: 366px; width: 566px;" class="rounded my-2" src="{% static 'img/fotos.jpg' %}"
                            alt="image carnaval">
                        </a>
                    </div>  
                    <div class="col">
                        <a href="#videos">
                            <img style="height: 366px; width: 566px;" class="rounded my-2" src="{% static 'img/videos.jpg' %}"
                            alt="image carnaval">
                        </a>
                    </div>              
                                      
                </div>

            </section>
        </div>
    </div>
    <div class="row">
        <div class="col d-flex py-5">
            <section id="contato" class="m-auto" style="width: 1156px;">
                <h1>CONTATO</h1>
                <div class="d-flex">
                    <img src="/static/img/logo_turismo.png" style="height: 250px;" alt="">
                    <div class="m-auto d-flex flex-column">
                        <h3 class="text-center">Secretaria de Turismo</h3>
                        <span class="mx-auto">Email: <a href="mailto:secturnf@gmail.com">secturnf@gmail.com</a></span>
                        <span class="mx-ato">Telefone: <a href="tel:552225228051">+(55) (22) 2522-8051</a></span>
                    </div>
                    <div class="d-flex flex-column my-auto">
                        <a class="my-1" target="_blank" href="https://www.facebook.com/turismodenovafriburgo"><img
                                class="redesocial"
                                src="https://senhas.novafriburgo.rj.gov.br/static/images/facebook.png" alt=""></a>
                        <a class="my-1" target="_blank" href="https://www.instagram.com/turismonovafriburgo/"><img
                                class="redesocial"
                                src="https://senhas.novafriburgo.rj.gov.br/static/images/instagram.png" alt=""></a>
                        <a class="my-1" target="_blank" href="https://www.pmnf.rj.gov.br/turismo/"><img
                                class="redesocial" src="https://senhas.novafriburgo.rj.gov.br/static/images/brasao.png"
                                alt=""></a>
                    </div>
                </div>


                <h4></h4>
            </section>
        </div>
    </div>
    <div class="row">
        <div class="col p-3 d-flex" style="border-top: 1px solid rgba(0, 0, 0, 0.322); background-color: #F9CC3A; color: #3F2E63;">
            <span class="m-auto">
                Desenvoldido em conjunto com <br><b class="text-uppercase">Secretaria de Ciência, Tecnologia, Inovação e Educação Profissionalizante e SUPERIOR</b>
                <!-- <img src="/static/img/logo-sec-ciencia-tecnologia.png" alt="secretaria de ciencia e tecnologia de nova friburgo"> -->
            </span>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js"
        integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
    <script src="{% static 'js/slide.js' %}"></script>
    <script>

        let setIndex = 0
        let vClick={
            {% for i in datas %}
                "{{i.data|date:'dM'}}": false,
            {% endfor %}
        }

        function openEvento(valor){            
            if (vClick[valor]){
                closeEventos()
                for (const [key, value] of Object.entries(vClick)) {
                    vClick[key]=false
                }                
            }else{
                closeEventos()
                document.getElementById(valor).style.display='block'                  
                vClick[valor]=true
                linkTo('#programacao')
            }                        
        }
        function closeEventos(){
            {% for i in datas %}
                document.getElementById("{{i.data|date:'dM'}}").style.display='none'
            {% endfor %}
        }

        function linkTo(value) {
            window.location.href = value
        }
        setIndex = 0
        function slide1() {
            setIndex = 0
            document.getElementById('img-banner').src = "/static/img/slide/00.png";
            setTimeout("slide2()", 5000)
        }
        function slide2() {
            setIndex = 1
            document.getElementById('img-banner').src = "/static/img/slide/01.png";
            setTimeout("slide3()", 5000)
        }
        function slide3() {
            setIndex = 2
            document.getElementById('img-banner').src = "/static/img/slide/02.png";
            setTimeout("slide1()", 5000)
        }
        window.onload = function teste() {
            slide1()
            closeEventos()
        }
    </script>
</body>

</html>