<!DOCTYPE html>
<html lang="pt-br">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Carnaval 2022 - Nova Friburgo</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Londrina+Solid&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/slide.css' %}">
</head>
<body class="container-fluid">
    <div class="">
        <header class="row">
            <div class="col d-flex">
                <div class="navbar">
                    <img class="logo-carnaval" src="{% static 'img/logo-carnaval.png' %}" alt="">                
                    <div class="nav">
                        <a href="/">Início</a>
                        <a href="/#programacao2">Programação</a>
                        <a href="#">Agremiações</a>
                        <a href="#">Eventos</a>
                        <a href="#">Concursos</a>
                        <a href="#">Contato</a>
                    </div>
                </div>
            </div>
        </header>
        <div class="row">
            <div class="col d-flex">
                <a class="mx-auto" href="/s/concursos">Voltar</a>
            </div>
        </div>
        {% if success %}
        <h1 class="p-3 bg-success text-center text-white">Alterações salvas!</h1>
        {% endif %}
        <div class="row px-5 mt-5">
            <div class="col px-5 d-flex flex-column">                                
                <form  method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                   <div class="pb-5 mb-5">
                    <input name='slide' type='file' accept='image/*' class='custom-file-input' id='inputGroupFile02' multiple>                    
                    <div class="mt-5">
                        {{form}}
                    </div>
                    <br>
                    <button class="btn btn-dark mt-3" type="submit">Enviar Foto</button>
                   </div>
                </form>
                <table class="table table-striped">
                    <thead>
                      <tr>
                        <th scope="col">Arquivo</th>
                        <th scope="col">Foto</th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>  
                    {% for foto in fotos %}              
                      <tr>
                        <th scope="row">{{foto}}</th>
                        <td>
                            <img style="height: 100px;" src="/static/img/concursos/{{dir}}/{{foto}}" alt="">
                        </td>
                        <td>
                            <a href="/s/concursos/edit/{{dir}}/{{foto}}">Editar ou Apagar</a>
                        </td>
                      </tr>
                    {% endfor %}
                </tbody>
        </table>
            </div>
        </div>

    </div>    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="{% static 'js/slide.js' %}"></script>
    <script>
    </script>
</body>
</html>