body, html{
    height: 100%;
    font-family: 'Poppins', sans-serif;
}
html, body{
    background-image: url(../img/bg.jpg);    
    background-size: cover;
    background-repeat: repeat;
    /* background-attachment: fixed; */
}

h1{
    font-family: 'Londrina Solid', cursive;
}
h3{
    font-family: 'Londrina Solid', cursive;
}
h4{
    font-family: 'Londrina Solid', cursive;
}
header .col{
    display: flex;
}

header .col .navbar{
    margin: auto;
    width: 1156px;
    display: flex;
}
header .col .navbar .nav{
    margin: 130px 0 auto auto;
}
header .col .navbar .nav a{
    /* background-color: #e7ac375b; */
    background-color: #F9CC3A;
    text-transform: uppercase;
    color: #3F2E63;
    font-family: 'Londrina Solid', cursive;
    font-size: 16pt;
    text-decoration: none;
    margin-left: 20px;
    padding: 0 10px;
}
header .col .navbar .nav a:hover{    
    background-color: #ecb605;
    cursor: pointer;    
}
.logo-carnaval{    
    height: 200px;
}

#banner{
    margin-top: 30px;
}
#banner .col{
    display: flex;
}
#banner .col img{
    margin: auto;
}
#imagens{
    width: 1156px;
    margin: auto;
}
#texto{
    width: 1156px;
    margin: auto;
    background-color: white;
    border-radius: 8px;
    padding: 30px 50px;    
}
#programacao{
    width: 1156px;
    margin: auto;
}
#programacao .data{
    padding: 30px;
    width: 280px;
    height: 180px;
    background-color: #5C6EE2;
    color: white;
}
#programacao .info{
    margin-left: 35px;
    padding: 30px;
    width: 880px;
    height: 180px;
    background-color: #D7518B;
    color: white;
}
#programacao .data h1{
    font-size: 35pt;
    font-family: 'Londrina Solid', cursive;
}
#programacao .data h2{
    font-size: 26pt;
    font-family: 'Londrina Solid', cursive;
}
#programacao .info h1{
    font-family: 'Londrina Solid', cursive;
    font-size: 25pt;
    margin-bottom: 25px;
}
#programacao .info h2{
    font-size: 14pt;
    font-weight: 300;
}
p{
    text-indent: 30px;
    text-align: justify;
}

.size-15{
    font-size: 25pt;
}

.size-18{
    font-size: 145pt;
}
.destaque{
    color: #24AEFA;
}
.redesocial{
    width: 50px;
    height: 50px;
}